/* Container styling */
.donors-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
}

.donation-summary {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #555;
}

/* Donor list styling */
.donors-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for children cards */
  gap: 60px;
  list-style: none;
  padding: 0;
}

.donor-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

.donor-item:hover {
  transform: translateY(-5px);
}

/* Donor image styling */
.donor-image-container {
  text-align: center;
  margin-bottom: 15px;
}



/* Donor info styling */
.donor-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.donor-info p {
  font-size: 1rem;
  margin: 5px 0;
}

.donor-info a {
  color: #007BFF;
  text-decoration: none;
}

.donor-info a:hover {
  text-decoration: underline;
}




/* Error message styling */
.error-message {
  color: red;
  text-align: center;
  margin-top: 20px;
}
