/* src/components/Navbar.css */

.navbar {
  background-color: #4CAF50;
  padding: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-list li {
  margin: 0 1rem;
}

.navbar-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-list a:hover,
.active-link {
  color: #FF5C5C;
  text-decoration: underline;
}
